@{
}

<aside class="ejc-admin-sidebar d-none d-lg-block" data-admin-sidebar>
    <div class="ejc-admin-sidebar-top">
        <div class="ejc-admin-sidebar-brand">
            <span class="ejc-admin-sidebar-badge">OPS</span>
        </div>
        <button type="button"
                class="btn btn-sm btn-outline-light ejc-admin-sidebar-toggle"
                data-admin-sidebar-toggle
                aria-expanded="true"
                aria-label="Collapse admin sidebar">
            <i class="bi bi-layout-sidebar-inset"></i>
        </button>
    </div>

    <partial name="/Pages/Shared/_AdminSidebarNav.cshtml" />
</aside>

<div class="offcanvas offcanvas-start ejc-role-sidebar-offcanvas d-lg-none" tabindex="-1" id="ejcAdminSidebarOffcanvas" aria-labelledby="ejcAdminSidebarOffcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ejcAdminSidebarOffcanvasLabel">Operations</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <partial name="/Pages/Shared/_AdminSidebarNav.cshtml" />
    </div>
</div>
